name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: "stable"

      - name: Compile
        run: |
          nimble build -d:release --out:forge
        shell: bash

      - name: Prepare artifact
        run: |
          mkdir -p out
          case "${{ matrix.os }}" in
            windows‑latest)
              zip -j out/forge‑${{ matrix.os }}‑${{ github.ref_name }}.zip forge.exe ;;
            *)
              tar -czvf out/forge‑${{ matrix.os }}‑${{ github.ref_name }}.tar.gz forge ;;
          esac
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: forge‑${{ matrix.os }}
          path: out/*

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          artifacts: |
            forge‑ubuntu‑latest‑${{ github.ref_name }}.tar.gz
            forge‑macos‑latest‑${{ github.ref_name }}.tar.gz
            forge‑windows‑latest‑${{ github.ref_name }}.zip
